<div>
  <form [formGroup]="PatientDetails">
  <div>
    <h3>Patient Details</h3>
    <div class="patientDetails">
      <input formControlName="Name" type="text" placeholder="Name">
      <input formControlName="MedicalRecordNumber" type="text" placeholder="MedicalRecordNumber">
      <input formControlName="FinancialNumber" type="text" placeholder="FinancialNumber">
      <input formControlName="AdmitSource" type="text" placeholder="AdmitSource">
      <input formControlName="organisation" type="text" placeholder="Organisation">
      <input formControlName="Building" type="text" placeholder="Building">
      <br>
      <br>
      <input formControlName="NurseUnit" type="text" placeholder="NurseUnit">
      <input formControlName="Sex" type="text" placeholder="Sex" >
      <input formControlName="Race" type="text" placeholder="Race" >
      <input formControlName="Age" type="text" placeholder="Age" >
      <input formControlName="EncounterStatus" type="text" placeholder="EncounterStatus">
      <input formControlName="EncounterType" type="text" placeholder="EncounterType">
    </div>

    <p>{{PatientDetails.value | json}}</p>

  </div>
  
 

<div>
  <h3>Transfer Details</h3>
  <div class="transferDetails" [formGroup]="TransferDetails">
  <input formControlName="MedicalService" type="text" placeholder="MedicalService">
  <input formControlName="Building" type="text" placeholder="Building">
  <input formControlName="NurseUnit" type="text" placeholder="NurseUnit">
  <input formControlName="RequestedAccommodation" type="text" placeholder="Requested Accommodation">
  <input formControlName="TransferReason" type="text" placeholder="TransferReason">
  </div>
  <p>{{TransferDetails.value | json}}</p>
  
</div>

<div >
  <h3>Labs and Vitals</h3>
  <div [formGroup]="VitalsAndLabs" class="VitalsAndLabs">
  <input formControlName="MAPInvasive" type="text" placeholder="MAP,Invasive">
  <input formControlName="MAPInvasiveSec" type="text" placeholder="MAP,InvasiveSec">
  <input formControlName="MAPCuff" type="text" placeholder="MAP,Cuff">
  <input formControlName="MAPAssisted" type="text" placeholder="MAP,Assisted">
  <input formControlName="SBPNonInvasive" type="text" placeholder="SBP,NonInvasive">
  <input formControlName="SBPAssisted" type="text" placeholder="SBP,Assisted">
  <br><br>
  <input formControlName="SBPInvasive" type="text" placeholder="SBP,Invasive">
  <input formControlName="SBPInvasiveSec" type="text" placeholder="SBP,InvasiveSec">
  <input formControlName="SBPInvasivemmHg" type="text" placeholder="SBP,Invasive (mmHg)">
  <input formControlName="DBPNonInvasive" type="text" placeholder="DBP,NonInvasive">
  <input formControlName="DBPAssisted" type="text" placeholder="DBP,Assisted">
  <input formControlName="DBPInvasive" type="text" placeholder="DBP,Invasive">
  <br><br>
  <input formControlName="DBPInvasivemmHg" type="text" placeholder="DBP,Invasive (mmHg)">
  <input formControlName="DBPInvasiveSec" type="text" placeholder="DBP,InvasiveSec">
  <input formControlName="PulseRate" type="text" placeholder="PulseRate">
  <input formControlName="ApicalHeartRate" type="text" placeholder="ApicalHeartRate">
  <input formControlName="HRMonitored" type="text" placeholder="HRMonitored">
  <input formControlName="HeartRate" type="text" placeholder="HeartRate">
  <br><br>
  <input formControlName="HeartRatebpm" type="text" placeholder="HeartRatebpm">
  <input formControlName="PerpheralPulse" type="text" placeholder="PerpheralPulse">
  <input formControlName="RRTotal" type="text" placeholder="RR Total">
  <input formControlName="RR" type="text" placeholder="RespiratoryRate">
  <input formControlName="RRbrmin" type="text" placeholder="RR (br/min)">
  <input formControlName="TempAux" type="text" placeholder="TempAux">
  <br><br>
  <input formControlName="CoreTemp" type="text" placeholder="CoreTemp">
  <input formControlName="TempOral" type="text" placeholder="TempOral">
  <input formControlName="TempRectal" type="text" placeholder="TempRectal">
  <input formControlName="TempRectalF" type="text" placeholder="TempRectal (F)">
  <input formControlName="TempTympanic" type="text" placeholder="TempTympanic">
  <input formControlName="HCTPOC" type="text" placeholder="HCTPOC">
  <br><br>
  <input formControlName="PlateletCount" type="text" placeholder="PlateletCount">
  <input formControlName="SodiumLevel" type="text" placeholder="SodiumLevel">
  </div>
  <p>
    {{VitalsAndLabs.value | json}}
  </p>
</div>

</form>
</div>