<h3>Transfer Details</h3>

<div class="transferDetails">
  <input formControlName="MedicalService" type="text" placeholder="MedicalService">
  <input formControlName="Building" type="text" placeholder="Building">
  <input formControlName="NurseUnit" type="text" placeholder="NurseUnit">
  <input formControlName="RequestedAccommodation" type="text" placeholder="RequestedAccommodation">
  <input formControlName="TransferReason" type="text" placeholder="TransferReason">
</div>


<h3>Vitals and Labs</h3>
<div class="VitalsandLabs">
  <input formControlName="MAPInvasive" type="text" placeholder="MAPInvasive">
  <input formControlName="MAPInvasiveSec" type="text" placeholder="MAPInvasiveSec">
  <input formControlName="MAPCuff" type="text" placeholder="MAPCuff">
  <input formControlName="MAPAssisted" type="text" placeholder="MAPAssisted">
  <input formControlName="SBPNonInvasive" type="text" placeholder="SBPNonInvasive">
  <input formControlName="SBPAssisted" type="text" placeholder="SBPAssisted">
  <br><br>
  <input formControlName="SBPInvasive" type="text" placeholder="SBPInvasive">
  <input formControlName="SBPInvasiveSec" type="text" placeholder="SBPInvasiveSec">
  <input formControlName="SBPInvasivemmHg" type="text" placeholder="SBPInvasive mmHg">
  <input formControlName="DBPNonInvasive" type="text" placeholder="DBPNonInvasive">
  <input formControlName="DBPAssisted" type="text" placeholder="DBPAssisted">
  <input formControlName="DBPInvasive" type="text" placeholder="DBPInvasive">
  <br><br>
  <input formControlName="DBPInvasivemmHg" type="text" placeholder="DBPInvasive mmHg">
  <input formControlName="DBPInvasiveSec" type="text" placeholder="DBPInvasiveSec">
  <input formControlName="PulseRate" type="text" placeholder="PulseRate">
  <input formControlName="ApicalHeartRate" type="text" placeholder="ApicalHeartRate">
  <input formControlName="HRMonitored" type="text" placeholder="HRMonitored">
  <input formControlName="HeartRate" type="text" placeholder="HeartRate">
  <br><br>
</div>